<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sxzy.b.test_app">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Test_01" />
        <activity android:name=".Test_02.Test_02" />
        <activity android:name=".Test_03.Test_03" />
        <activity android:name=".Test_04.Test_04" />
        <activity android:name=".Test_05.List_View" />
        <activity android:name=".Test_06.Grid_Activity" />
        <activity android:name=".Test_07.Spinner_Activity"></activity>
        <activity android:name=".Test_08.ExpandableLisvView_Activity">

        </activity>
        <activity android:name=".Test_07.Spinner_Activity_san">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>